body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.note {
  color: grey;
  padding-top: 5px;
  font-size: 15px;
}

h1 {
  color: green;
  font-style: italic;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}